*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
}

nav{
  width: 100%;
  height: 95px;
  background-color: #3161e0;
}

.jumbotron{
  width: 100%;
  height: 80vh;
}

section{
  padding-bottom: 100px;
}

section.even{
  background-color: #f6f6f6;
}

footer{
  height: 90vh;
  background-color: #23272a;
}

.container{
  position: relative;
  width: 80%;
  margin: 0 auto;
  
}

section .container .col{
  float: left;
  width: calc(100% / 2);
}

a{
  text-decoration: none;
}

/* button utiltities */

.button-role{
  padding: 20px 25px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 50px 15px;
}

 button:hover{
  color: #3161e0;
}


.gray{
  background-color: #23272a;
  color: white;
}

.light-blue{
  background-color: #8ea1e1;
  color: white;
}

/* HEADER */

nav .container .logo, .menu, .button-nav{
  float: left;
  line-height: 95px;
}

.container .logo, .button-nav{
  width: 200px;
}

.container .menu{
  width: calc(100% - 400px);
  text-align: center;
}



/* logo */

.container .logo img{
  height: 100%;
  vertical-align: middle;
  margin-top: 5px;
}

nav .container .logo a{
  display: inline-block;
}

/* menu */

 nav .menu ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

nav .menu ul li a{
  font-weight: bold;
  color: white;
}


/* accesso */

nav .container .button-nav{
  text-align: right;
}

nav .container button{
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  background-color: white;
}

/* jumbotron */

header .jumbotron{
  position: relative;
  background-image: url(assets/img/jumbo.png);
  background-position: center;
  background-size: cover;
}

.jumbotron .text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: white;
  text-align: center;
}
.jumbotron .text p{
  margin-top: 42px;
  font-size: 1.4rem;
}




/* MAIN */

section .col{
  
  padding-top: 100px;
}

section h2{
  
  font-size: 3.5rem;
  font-weight: bolder;
}

section .container p{
  font-size: 1.4rem;
  margin: 30px auto;
}

/* section 1 */

.text-col{
  margin: 0 auto;
  width: 60%;
  margin: 30px auto;
}

/* section 4 */
section .container .space{
  width: 100%;
  text-align: center;
}

section .space.top .text-space{
  width: 85%;
  margin: 0 auto;
  padding-top: 100px;
}


.container .space.bottom{
  margin-bottom: 30px;
}


.space.bottom .call-act-bottom{
  width: 50%;
  margin: 0 auto;
  background-image: url(assets/img/stars.svg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.space.bottom span{
  margin: 30px auto;
  display: block;
  font-size: 2rem;
  font-weight: bolder;
}

/* FOOTER */

footer .container .foot{
  width: 100%;
}

footer .container .foot.top{
  padding-top: 100px;
  margin-bottom: 50px;
}


.footer-col{
  float: left;
  width: 17%;
}

/* footer top */

.footer-col.social{
  padding-right: 50px;
  width: 32%;
  color: white;
}


.footer-col.social h3{
  font-size: 2.5rem;
  font-weight: bolder;
  color: #7289da;
  margin-bottom: 30px;
}

.footer-col h5{
  font-size: 1rem;
  margin-bottom: 5px;
  color: #7289da;
}

.footer-col.social p{
  font-size: 1.4rem;
}


.footer-col.social img{
  height: 20px;
}

.fa-brands{
  font-size: 20px;
  margin: 20px 10px;
}

.footer-col ul li{
  list-style: none;
  padding-bottom: 10px;
}

.footer-col ul li a{
  text-decoration: none;
  color: white;
}

li:first-child {
  color: #7289da;
}


/* footer bottom */

footer .container .foot.bottom{
  border-top: 2px solid #8ea1e1;
}

.footer-logo, .footer-registrati{
  width: 50%;
  float: left;
}

.footer-logo img{
  margin-top: 55px;
}

.footer-registrati{
  text-align: right;
}